[Desktop Entry]
Name=%s
Comment=Explore your own unique world, survive the night, and create anything you can imagine!
Icon=%s
Exec=true
NoDisplay=true
StartupWMClass=com.mojang.minecraft
Terminal=false
Type=Application
Categories=Game;